<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="works.huse.picoxr"
    android:versionCode="6"
    android:versionName="1.5">

    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="33" />

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <queries>
        <package android:name="com.pico.browser.overseas" />
    </queries>

    <application android:label="@string/target_label" android:hasCode="true">
        <activity android:name="works.huse.picoxr.MainActivity"
                  android:exported="true"
                  android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="works.huse.picoxr.LAUNCH" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="https" />
                <data android:scheme="http" />
            </intent-filter>
        </activity>
    </application>
</manifest>
